body{
    display: grid;
    grid-template-columns: 200px 200px;
}

.gyroscopeSpan{
    grid-column: 1;
}

.accelerometerSpan{
    grid-column: 2;
}

.button{
    border-radius: 10px;
}

.button_settings{
    background-color: aqua;
}

.button_set_source{
    background-color:darkblue;
}
.canvas_div{
    grid-column: span;
}
.drawing_canvas{
    background-color: lightgrey;
}